

body {
    font-family: $font-stack;
    font-weight: 400;
    line-height: 1.7;
    color: #444;

    background-color: #fafafa;
}

h1 {
    font-size: 2.55rem ;
    color: $color-green-opuc;
    font-weight: 600;
}

h2 {
    color: $color-green-opuc;
}

h3 {
    color: $color-green-opuc;
    width: 100%;
    font-weight: 600;
}

h4 {
    width: 100%;
    font-size: 2.35rem;
    
}

h5 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

h6 {
    font-size: 2.75rem;
}