.application {
    width: 100%;
    padding: 0 1.5rem;
    margin-bottom: 6rem;


    @include respond(tab-port) {
        width: 90%;
    }

    @include respond(big-desktop) {
        width: 70%;
    }

    &__pagination {
        margin-top: 2rem;
        background-color: #f2f2f2;
        border-radius: 1rem;
        border: 1px solid #ccc;

        &-progress {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &--wrapper {
                margin: 2rem 0;
                // background-color: $color-white;
                width: 80%;
                display: flex;
                justify-content: center;
            }
        }

        &-form {
            display: flex;

            &--wrapper {
                padding: 0 3rem;
            }
        }
    }


    &__message {
        display: flex;
        flex-direction: column;
        /*
        background-color: #f2f2f2;
        border-radius: 1rem;
        border: 1px solid #ccc;
        padding: 1rem 2rem;
            */


        @include respond(tab-port) {
            flex-direction: row;
            margin: 2rem 0 2rem 0;
        }

        &-left {
            @include respond(tab-port) {
                flex: 50%;
                justify-content: start;
                margin-right: 2.5rem;
            }

            @include respond(tab-land) {
                margin: 0;
            }
        }

        &-right {
            @include respond(tab-port) {
                flex: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;


                &--i {
                    @include respond(tab-port) {
                    }
                }
            }
        }
    }

    &__check {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 3rem;
        margin-top: 2rem;



        @include respond(tab-port) {
            margin-top: 0;
            padding: 4rem 3.75rem;
            border-radius: 2rem;
            border: 1px solid #ccc;
        }

        &-dropdown {


            &--link {
                text-decoration: none;
                width: 100%;
                background-color: $color-white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1.35rem 1.55rem;
                border-radius: 0.85rem;
                border: 1px solid #ccc;
            }

            &--list {
                padding: 0;
                margin: 0;
                list-style: none;
            }

            &--item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1.2rem;

            }

            &--apply {
                display: flex;
                align-items: center;
            }

            &--text {
                color: $color-black;
                font-size: 1.7rem;
                margin: 0;
            }

            &--subtext {
                color: $color-green-opuc;
                margin: 0;
                font-size: 1.35rem;
                margin-right: 6px;
            }

            &--icon {
                color: $color-green-opuc;
            }
        }

        &-form {
            width: 100%;
        }
    }

    &__top {
        margin-top: 1.75rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__list {
        width: 100%;
    }

    &__item {
        font-size: 1.4rem;
        line-height: 1.85;
        //font-weight: 600;
    }

    &__text {
        width: 100%;
        text-align: start;
        font-size: 1.45rem;
    }

    &__body {
        // display: none; // Do not show the application by default, wait for user to enter zip to check. TODO
    }

    &__form {
        &-StateZip {
            display: flex;
            justify-content: center;


            &-i {
                width: 100%;

                &:not(:last-child) {
                    margin-right: 1.25rem;
                }
            }
        }


        &-label {
            font-size: 1.55rem;
        }

        &-small {
            font-size: 1.4rem;
        }
    }

    &__group {
        &--emailinfo {
            @include respond(tab-land) {
                display: flex;
                align-items: end;
            }

            &-i {
                width: 100%;

                &:not(:last-child) {
                    margin-right: 1.25rem;
                }
            }
        }

        &--mailaddress {
            margin-bottom: 2.5rem;
        }

        &--phoneinfo {
            @include respond(tab-land) {
                display: flex;
                align-items: start;
            }

            &-i {
                width: 100%;

                &:not(:last-child) {
                    margin-right: 1.25rem;
                }
            }
        }

        &--s {
            @include respond(tab-port) {
                display: flex;
                justify-content: space-between;
            }

            &-div {
                width: 100%;

                &:last-child {
                    margin-top: 3rem;

                    @include respond(tab-port) {
                        margin-top: 0;
                        margin-left: 2rem;
                    }
                }
            }
        }

        &--name {

            @include respond(tab-port) {
                display: flex;
                justify-content: space-between;
            }

            &-div {
                width: 100%;

                @include respond(tab-port) {
                    &:not(:last-child) {
                        margin-right: 1.25rem;
                    }
                }
            }
        }
    }

    &__input {
        width: 100%;
        font-size: 1.75rem;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
        transition: border-color 0.2s ease;



        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        &-select {
            appearance: none;
            background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
            background-repeat: no-repeat;
            background-position: right 0.9em top 50%;
            background-size: 0.75rem auto;
        }

        &-check {
            margin-right: 8px;


            &--label {
                font-size: 1.3rem;
                display: flex;
                align-items: center;
            }
        }
    }

    &__radio-option {
        font-size: 1.3rem;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__term {
        width: 100%;
        display: flex;
        justify-items: start;
        align-items: center;
        margin-bottom: 2rem;

        &-check {
            margin-right: 1.5rem;
            width: 2.5rem;
            height: 2.5rem;
            text-align: center;
            font-weight: bold;
            font-size: 1.75rem;
            text-transform: uppercase;
            border: 1px solid #ccc;
            border-radius: 4px;
            zoom: 1.3;
        }

        &-label {
            font-size: 1.4rem;
            flex: 1;
        }

        &-div {
            display: flex;
            justify-items: center;
        }

        &-list {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
}

    .required {
        color: red;
    }

    .hidden {
        display: none;
    }
