.footer {
    margin-bottom: 6rem;
    width: 100%;
    
    padding: 0 1.5rem;

    &__about {
        width: 100%;
    }

    &__list {
        padding: 1.5rem 0;
        list-style: none;
        
    }

    &__item {
        border-bottom: 1px solid #ccc;
        padding: 1rem 0;
    }

    &__link:link,
    &__link:visited {
        font-size: 1.75rem;
    }
}