.header {
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;

    &__wrapper {
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    &__lang {
        margin-right: 1.5rem;
        padding: 1.5rem 0;
        position: relative;
    }

    &__accessibility {
        padding: 1.5rem 0;
    }

    &__btn {
        height: 100%;
        width: 100%;
    }

    &__icon {
        color: #222;
    }
}

/* NOT IN USE FOR NOW */
/*
.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  min-width: 45%;
  z-index: 10;
  padding: 0.5rem 0;
}

.dropdown-menu.show {
  display: block;
  animation: fadeIn 0.15s ease-in;
}

.dropdown-item {
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.dropdown-item:hover {
  background-color: #cccccc8e;
}

.dropdown-item.active {
  font-weight: bold;
  background-color: #337ab7;
}

    */