

.btn-primary,
.btn-primary {
    width: 100%;
    font-size: 1.45rem;
    padding: 1.25rem 0;
    font-weight: 600;
    background-color: $color-green-opuc;
    border-color: $color-blue-border;

    &:hover,
    &:active {

        // Darken on hover and hold
        background-color: darken($color-green-opuc, 5%) !important;
    }
}

.btn-primary:disabled {
    background-color: lightgrey;
}