.btn-secondary {
    background-color: $color-white;
    color: $color-blue-opuc;
    border: 1px solid $color-blue-opuc;
    width: 100%;
    font-weight: 600;
    font-size: 1.45rem;
    padding: 1.25rem 0;
}
