.pindicator {
    display: flex;
    justify-content: space-between; // distribute bullets evenly
    width: 100%;
}

.icon {
    font-weight: 600;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.pindicator .bullet {
    flex: 1;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
}

.pindicator .bullet::before,
.pindicator .bullet::after {
    content: '';
    display: block;
    position: absolute;
    height: .7rem;
    top: 1.25rem;
    transform: translate3d(0,0,-1px);
}

.pindicator .bullet::before {
    background-color: $color-white;
    //border: 1px solid #ccc;
    width: 100%;

}

.pindicator .bullet::after {
    background-color: $color-green-opuc;
    transition: opacity .25s ease-out;
    opacity: 0;
    width: 100%;

}

.pindicator .bullet:first-child::before,
.pindicator .bullet:first-child::after {
    left: 50%;
    width: 50%;
}

.pindicator .bullet:last-child::before,
.pindicator .bullet:last-child::after {
    width: 50%;
}

.pindicator .icon {
    background-color: $color-white;
    border-radius: 100%;
    color: $color-grey;
    font-size: 1.5rem;
    display: inline-block;
    height: 2em;
    line-height: 2;
    text-align: center;
    transition: background-color .25s ease-out;
    width: 2em;
}

.pindicator .text {
    color: lightgray;
    font-size: .75rem;
    margin-top: 1rem;
    text-transform: uppercase;
    transition: background-color .25s ease-out;
}

.pindicator .past .icon,
.pindicator .current .icon {
    background-color: $color-green-opuc;
    color: white;
}

.pindicator .past::after,
.pindicator .current::after {
    opacity: 1;
}

.pindicator .past .text,
.pindicator .current .text,
.pindicator .next .text {
    color: black;
}


// ================== PAGINATION BUTTONS ================== //

.pagination-buttons {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    padding: 0 3rem;
}

// ================== PAGINATION BUTTONS ================== //