.review {
    margin-bottom: 0;

    &__wrapper {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: #dfdfdf;
    }

    &__top {
        background-color: $color-white;
        border: 1px solid #ccc;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;

        
        padding: 1.55rem 2rem;

        &-right {

        }

        &-text {
            font-size: 1.5rem;
            
            margin: 0;

            &--a {
                font-size: 1.25rem;
            }
        }

        &-left {

        }

        &-btn {
            font-size: 1.23rem !important;
            padding: 0.25rem 2.5rem !important;
        }
    }

    &__bottom {
        background-color: #dfdfdf;
        padding: 3rem 2rem;
    }

}