.upload {
    width: 100%;

    &__top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-icon {
            margin: 1rem 0;

            &>i {
                font-size: 5.5rem;
                color: #444;
            }
        }

        &-text {
            color: #444;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &>p {
                text-align: center;
            }
        }
    }

    &__label {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 1rem 1.25rem;
        background-color: #f9f9f9;
        //border: 2px dashed #ccc;
        border-radius: 8px;
        cursor: pointer;
        color: $color-green-opuc;
        font-size: 1.5rem;
        font-weight: 600;
        transition: background 0.2s ease;
        
        &:hover {
            background-color: #eef6ff;
        }
    }

    &__btn {
        width: 25%;
        padding: 0.9rem 0;
        margin-bottom: 1rem;
    }

    &__wrapper {
        border: 2px dashed #ccc;
        border-radius: 0.75rem;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        &-drag {
            border-color: #0d6efd;
            background: #f0f6ff;
        }
    }

    &__input {
        width: 100%;
        display: flex;
    }
}

input[type="file"] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

i {
    font-size: 1.35rem;
}