<h3>Step 2 - add content here</h3>

<div class="application__check">
    <h1>Check For Eligibility</h1>

    <form class="application__check-form"> 
        <label class="application__form-label" for="zipCode">Enter your Zip code to see avaliable providers in your area <span class="required">*</span></label>
            <!--
            <InputText @bind-Value="zipCode" id="EligibilityZip" class="form-control form-control-lg application__input" placeholder="Zip Code" required />
                                  
            <InputText id="EligibilityZip" class="form-control form-control-lg application__input" placeholder="Zip Code" required />
            -->
                               
            <input type="submit" name="btnSubmit" value="Check" id="btnSubmit" class="btn btn-primary">
    </form>
</div>